<launch>
    <!-- Thorvald Launch -->
    <include file="$(find uol_cmp9767m_base)/launch/thorvald-sim.launch" >
        <arg name="second_robot" value="false"/>
        <arg name="obstacles" value="false"/>
        <arg name="fake_localisation" value="true"/>
        <arg name="map_server" value="true"/> 
    </include>

    <!-- Topological navigation -->
    <include file="topological_navigation.launch" />
   
    <!-- custom nodes -->
    <node pkg="vision" type="vision_node.py" name="vision_node" args="thorvald_001"/>
    <node pkg="state_machine" type="state_machine.py" name="state_machine" args="thorvald_001" output="screen"/>

    <!-- rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find thorvald_2dnav)/thorvald_rviz_config.rviz" />

    <!--- Run AMCL --> 
    <include file="$(find amcl)/examples/amcl_omni.launch" />
</launch>